bcrypt==4.3.0
blinker==1.9.0
cffi==1.17.1
click==8.2.1
colorama==0.4.6
cryptography==45.0.4
faker==37.4.0
flask==3.1.1
flask-core==2.9.0
flask-cors==6.0.1
greenlet==3.2.3
itsdangerous==2.2.0
jinja2==3.1.6
joblib==1.5.1
markupsafe==3.0.2
mysql-connector-python==9.3.0
numpy==2.3.0
pandas==2.3.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
pycparser==2.22
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.7.0
scipy==1.15.3
six==1.17.0
sqlalchemy==2.0.41
threadpoolctl==3.6.0
typing-extensions==4.14.0
tzdata==2025.2
werkzeug==3.1.3
